
body{
    background-color: #f2f3f6;
    margin: 0;
}

header{
    background-color: #3b8dd0;
    color: #ffffff;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 70px;
}
    header ul{
        display:flex;     
        list-style: none;    
    }
    header ul li{
        margin:10px;
    }

.banderole{
    padding: 0;
    margin:0;
    background-color: #171f26;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center; 
    height:35px;  
}
    .banderole a{
        text-decoration: none;
        color: #ffffff;
        margin-right:2em;
    }  
        #disney_tag{
            width: 64px;
            height: 35px;
            background:
                url(images/disneyplus.png)
                no-repeat
            ;
            background-size: 64px 35px;
            background-position-Y:-5px;
            color: transparent;
        }
        #arte_tag{
            background: 
                no-repeat
                url(images/arte.png)
            ;            
            background-size: 48px 12px;
            width: 48px;
            height: 12px;
            color: transparent;
        }
        #starz_tag{
            background: 
                no-repeat
                url(images/starzplay.png)
            ;
            background-position-y: 12px;           
            background-size: 82px 12px;
            width: 82px;
            height: 35px;
            color: transparent;
        }
        #appel_tag{
            background: 
                no-repeat
                url(images/apple-tv-plus.png)
            ;            
            background-size: 48px 18px;
            width: 48px;
            height: 25px;
            color: transparent;
        }
        #salto_tag{
            background: 
                no-repeat
                url(images/salto.png)
            ;
            background-position-y: 12px;           
            background-size: 68px 12px;
            width: 68px;
            height: 35px;
            color: transparent;
        }

    .fixed{
        width: 100%;
        position: fixed;   
        top: 0;     
    }

    /*case principale*/

.main{
    width: 58%;
    height: auto;
    background-color: #f2f3f6;
    margin: auto;
    margin-top: 8em;
}

.banniere{
    height: 20px;
    color:#3B8DD0;
    font-size: 8px;
    vertical-align: middle;
    margin-bottom:25px;

}
    .banniere h1{
        border:solid 1.5px #c1e1fa;
        padding-left: 5px;
        padding-top:2px;
        padding-bottom:2px;
    }

.container_left{
    width:68%;
    float: left;
}
.container_right{
    width:30%;
    margin-left:70%;
}

.slider_infini{
    width:100%;
    height: 40%;
    border:solid black;
}

/* footer*/

footer{
    color: #85898c;
    height:210px;
    width: 90%;
    background-color:#0d151c;
    background-image: 
        url(
            images/footer-background_3.png
        );
    background-repeat: no-repeat;
    background-position: center;
    background-size:40% 100%;
    margin-top: 1%; 
    position: absolute;
    padding: 6% 5% 6% 5%;
}
        .container_footer_right{
            float: left;
            width:25%;
        }
        .container_footer_left{
            margin-left: 75%;
            width:25%;
        }
